.logo{
    height: 50px;
    width: 150px;
}
.heading1{
    color: red;
}
.Get-started-button{
    background-image: linear-gradient(to bottom, green 0%, darkgreen 100% );
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.green-background{
    background-color: rgb(195, 238, 213);
}
.text-green{
    color: rgb(8, 161, 85);
}
.carousel-item{
    padding: 20px 60px;
}
.navigation, .online-courses {
    padding: 20px 90px;
}

.cat1{
    background-color:rgb(204, 231, 215) ;
    border-radius: 12px;
    padding: 10px 30px;
}
.cat2{
    background-color: white;
    border-color: gray;
    box-shadow: 5px 5px 10px lightgray ;
    border-radius: 12px;
    padding: 10px 30px;
}
.cat3{
    background-color:rgb(204, 231, 215) ;
    border-radius: 12px;
    padding: 10px 30px;
}
.cat4{
    background-color: rgb(204, 231, 215) ;
    border-radius: 12px;
    padding: 10px 30px;
}

.cat1 img{
 max-height: 80px;
 max-width: 60px;
}
.cat2 img{
    max-height: 300px;
    max-width: 80px;
   }
   .cat3 img{
    max-height: 300px;
    max-width: 80px;
   }
   .cat4 img{
    max-height: 300px;
    max-width: 80px;
   }
.container{
    margin-bottom: 100px;
    margin-top: 15px;
    padding-top: 50px;
}
.card-footer img{
    max-height: 20px;
    max-width: 30px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 12px;
}
.student{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
h2{
    text-align: center;
}
#testimonial img{
    max-height: 100px;
    max-width: 100px; 
}

.lower-section{
    background-color: rgb(26, 22, 36);
    color: ghostwhite;
}

.categories{
        padding-top: 50px;
}

#left{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(122, 235, 255), rgb(71, 105, 255)) ;
    border-image-slice: 1;
}
.half-width{
    color: gray;
    width: 40%;
    float: left;
    text-align: justify;
    margin-left: 5% ;
    padding-left: 2%;
}
#right{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #9dff00, hsl(69, 98%, 48%)) ;
    border-image-slice: 1;
}